.list{
    text-decoration: none;
    color:rgb(25, 15, 61);
    font-size:20px;
    font-weight: 500;
    margin-right: 4vh;
}
.list1{
    text-decoration: none;
    color:rgb(25, 15, 61);
    font-size:15px;
    font-weight: 500;
    margin-right: 4vh;
}